PORT=5000
MONGO_URI=mongodb+srv://amitjamwal_db_user:<KAZLe0TgziA4pxBY>@rawwire.9dhq689.mongodb.net/
JWT_SECRET=bG1keC1zZWN1cmUtdG9rZW4tc3RyaW5nLWZvci1wcm9kdWN0aW9uLXJlYWR5LWFwcHM
CLOUDINARY_CLOUD_NAME=dzwuj5rf2
CLOUDINARY_API_KEY=581421365371487
CLOUDINARY_API_SECRET=_1qz6OW0Fr1AWfLhUfhhB7bJwJI
